

/* Theme Toggle Button */
#themeToggle {
    position: absolute;
    top: 50px;
    right: 20px;
    padding: 10px;
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#themeToggle:hover {
    background-color: var(--button-hover-bg);
}

/* Navbar */
nav {
    position: relative;
    background-color: var(--background-color);
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    list-style: none;
}

.navbar li {
    margin: 0 30px;
}

.navbar a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.navbar a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
}

/* Hamburger Icon */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger .bar {
    width: 30px;
    height: 5px;
    background-color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
}

/* Hero Section */
.hero {
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 50px 20px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--text-color);
}

.cta-button {
    padding: 15px 40px;
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--background-color);
}

.hero-image {
    display: none;
    max-width: 400px;
}

.hero-image img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 25px rgba(179, 29, 29, 0.2);
}

/* Social Links */
aside {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
}

.social-links {
    font-size: 2rem;
    color: var(--secondary-color);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.social-links:hover {
    color: var(--primary-color);
    transform: scale(1.2) rotate(10deg);
}

/* Light/Dark Mode */

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--background-color);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        display: flex;
    }

    .menu-toggle:checked + .hamburger + .navbar {
        display: flex;
    }

    .hero-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        display: none;
    }
}
